export AWS_PROFILE=openshift-dev
export STACK_NAME="myuser-dev"
export SHARED_DIR="instance-data"
export RHEL_HOST_AMI="ami-0a8e177878538c9c3"
export EC2_INSTANCE_TYPE="c5n.metal"
export AWS_DEFAULT_REGION=us-west-2
export REGION=us-west-2
export SSH_PUB_KEY=/home/myuser/.ssh/id_rsa.pub
export SSH_PRIVATE_KEY=/home/myuser/.ssh/id_rsa
